<section id="contact">
    <div class="v-center">
        <div class="wrapper">
            <p class="section-intro">
                If you'd like to get in touch, feel free to <a href="mailto:bailyzuniga@aol.com" class="email-link"><strong>shoot me an email</strong></a>.
            </p>
            <p class="section-intro">
                If you're still unsure or just browsing, take a look at my <a class="email-link" href="/assets/resume.pdf"><strong>resume</strong></a>.
            </p>
            <p class="section-intro">
                If you're still unsatisfied, then you could try <a class="email-link" href="#blurb"><strong>riding again</strong></a>, but I have no content left for you :(
            </p>
        </div>
    </div>
</section>