<section id="contact">
    <div class="wrapper">
        <p>
            If you'd like to get in touch, feel free to <a href="mailto:bailyzuniga@aol.com" class="email-link"><strong>shoot me an email</strong></a>.
        </p>
        <p>
            If you're still unsure or just browsing, take a look at my <a class="email-link" href="/assets/resume.pdf"><strong>resume</strong></a>.
        </p>
        <p>
            If you're still unsatisfied, then you could try <a class="email-link" href="#blurb"><strong>riding again</strong></a>, because I have no content left for you :(
        </p>
    </div>
</section>