

/**
 * branding
 */
$base-sans: "futura-pt", "helvetica neue", sans-serif !important;
$base-serif: "ff-meta-serif-web-pro", serif !important;
$palette-1: #523D3D;
$palette-2: #56B1FF;
$palette-3: #FFFD61;
$palette-4: #FF7071;
$palette-0: #523D3D;
$font-color-dark: #523D3D;
$font-color-light: #fff;