---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "susy";

@import "branding";

/**
 * global overrides
 */
html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: $base-sans;
    font-weight: 100;
    background-color: $palette-0;
    color: $font-color-light;
}

.page-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: scroll;
}

p {
    font-family: $base-serif;
    font-weight: 300;
}

section {
    min-height: 100%;
}

section, .post {
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
}

.post-title {
    font-weight: 100;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    position: absolute;
    width: 100%;
    top: 50%;
    div {
        transform: translate(0, -50%);
    }
}

.section-header {
    text-align: center;
    vertical-align: middle;
    .section-icon {
        display: inline-block;
        vertical-align: middle;
        max-height: 4em;
        fill: #fff;
    }
    .section-title {
        display: inline-block;
        vertical-align: middle;
        font-size: 2em;
    }
}

/**
 * section-specific
 */
#blurb {
    font-size: 2em;
    text-align: center;
    background-color: $palette-1;
    color: $font-color-light;
    .scroll-down {
        position: absolute;
        bottom: 20px;
        width: 100%;
        img {
            max-width: 50px;
            opacity: 0.6;
        }
    }
}

#portfolio {
    background-color: $palette-2;
    color: $font-color-light;
    font-size: 2em;
    text-align: center;
}

#about {
    background-color: $palette-3;
    color: $font-color-dark;
    font-size: 2em;
    text-align: center;
}

#contact {
    background-color: $palette-3;
    color: $font-color-dark;
    font-size: 2em;
    text-align: center;
    .email-link {
        color: $font-color-dark;
        &:hover {
            text-decoration: underline;
            color: $font-color-dark;
        }
    }
}

.copyright {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: #aaa;
}

.post-header {
    h1 {
        font-weight: 200;
    }
}

.page-link {
    text-transform: uppercase;
}

.footer-heading {
    font-weight: 200;
}

.post-content {
    font-family: $base-serif;
}

/**
 * floated nav
 */
.site-nav {
    position: fixed;
    top: 10px;
    right: 10px;
}

/**
 * site header overrides
 */
.site-header {
    border: none;
    padding-top: 10px;
}

.post-header {
    text-align: center;
}

/**
 * site footer overrides
 */
.site-footer {
    border: none;
}


/**
 * layout
 */

/* Changing Susy default global settings */
$susy: (
    /* Tells Susy to use 12 columns */
    columns: 12,
    /* Tells Susy that the container has a max-width of 1120px */
    container: 1120px,
    /* Tells Susy to use border-box */
    global-box-sizing: border-box,
);

@include border-box-sizing;

.wrapper {
    @include container;
}

@import "justified-grid";