---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "branding";
@import "grids";
@import "navbar";

/**
 * global overrides
 */
html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: $base-sans;
    font-weight: 100;
    background-color: $palette-0;
    color: $font-color-light;
}

.page-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: scroll;
}

p {
    font-family: $base-serif;
    font-weight: 300;
}


section, .post {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

section {
    min-height: 100%;
    .section-title {
        text-align: left;
        font-weight: 100;
        font-size: 1.8em;
    }
    .scroll-down {
        position: absolute;
        bottom: 20px;
        width: 100%;
        h1 {
            margin-bottom: 0;
        }
        img {
            max-width: 50px;
        }
    }
    .next-link {
        opacity: 0.6;
        color: $font-color-light;
        &:hover {
            opacity: 0.8;
            text-transform: none;
            color: $font-color-light;
        }
    }
}

.post-title {
    font-weight: 100;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    position: absolute;
    width: 100%;
    top: 50%;
    div {
        transform: translate(0, -50%);
    }
}

.home-link {
    z-index: 100;
    position: absolute;
    .home-icon {
        width: 30px;
        height: 30px;
    }
}

section {
    text-align: center;
    .section-intro {
        font-size: 2em;
        color: $font-color-light;
    }
}

/**
 * section-specific
 */
#blurb {
    background-color: $palette-1;
    background-image: url(/assets/rotations/building-render.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // text-shadow: 3px 3px 5px #222;
}

#portfolio {
    background-color: $palette-2;
}

#about {
    background-color: $palette-3;
}

#contact {
    background-color: $palette-3;
    .email-link {
        color: $font-color-light;
        &:hover {
            text-decoration: underline;
            color: $font-color-light;
        }
    }
}

footer {
    background-color: $palette-3;
}

.copyright {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: #aaa;
}

.post-header {
    h1 {
        font-weight: 200;
    }
}

.page-link {
    text-transform: uppercase;
}

.footer-heading {
    font-weight: 200;
}

.post-content {
    font-family: $base-serif;
}

/**
 * site header overrides
 */
.site-header {
    border: none;
    padding-top: 10px;
}

.post-header {
    text-align: center;
}

/**
 * site footer overrides
 */
.site-footer {
    border: none;
}

